*{
    padding: 0; margin: 0; font-family: 'Itim', cursive;
}

label {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    margin: 10px 2px 0px 2px;
}


.name{
    display: grid;
    grid-template-columns: 0fr 0fr;
    padding: 2rem;
} 

.form {
    text-align: center;
    margin: 0 auto;
}
input[type=text]{
    border-radius: 5px;
    padding: 5px;
    border-color: rgb(241, 238, 238);
    border-style:groove;
    width: 300px;
    height: 35px;
    border-width: thin;
    margin-bottom: 20px;
    
}

h1, h2, h3{
    text-align: center;
    margin: 35px 0;
}

.gameboard {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    text-align: center;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
	border-bottom: 1px solid black;


}


.btn:hover, .status:hover, .delete:hover {
    background-color: rgb(56, 75, 45);
    cursor: pointer;
}

.btn:active, .status:active, .delete:active{
    background-color: rgb(56, 75, 45);
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    /* opacity: 0.4; */
}

.btn {
    margin: 15px 0 0 0;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(78, 189, 78);
    border: none;
    font-size: 20px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);


}

.tile:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
#reset-btn {
    width: 90px;
    height: 30px;
    background-color: rgb(78, 189, 78);
    color: black;
    cursor: pointer;
    border: none;
}

#reset-btn:active {
    background-color: rgb(79, 79, 189);
    color: black;
}

.buttons {
    margin: 15px 0;
    text-align: center;
}

.visible {
    display: none;
}

#replay {
    background-color: rgb(78, 189, 78);
    color: black;
    cursor: pointer;
    border: none;

    margin: 15px 0 0 0;
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(78, 189, 78);
    border: none;
    font-size: 30px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

}

#replay:active {
    background-color: rgb(79, 79, 189);
    color: black;
}
.replay-btn {
    text-align: center;
}